body{
text-align: center;
font-size: .75em;
font-family: "century gothic", arial, sans-serif;
}

h1{
font-weight: normal;
margin-bottom: 0;
padding-bottom: 0;
}

a{
color: #5e99e8;
background-color: transparent;
text-decoration: none;
}

a:hover{
text-decoration: underline;
}

a img, img{
border: 0;
vertical-align: middle;
}

table{
border-collapse: collapse;
}

#container{
width: 520px;
margin: auto;
}

#menu{
color: #eee;
margin: auto;
border-bottom: 2px solid #85bcf3;
padding: .2em 0;
}

#menu a{
padding: .2em .1em;
}

#menu a:focus{
color: #5e99e8;
background-color: #eee;
}

#about,
#undo-history{
position: absolute;
z-index: 999;
width: 500px;
padding: 0 10px;
overflow: auto;
text-align: left;
color: #000;
background-color: #f9f9f9;
border-bottom: 2px solid #85bcf3;
}
#about h2{
margin: 0;
padding: 10px 10px 0;
font-weight: normal;
}
#about blockquote{
margin: 0;
padding: 10px;
}
#about p{
margin: 0;
padding: 0 0 10px;
}

.close{
text-align: right;
}
.close a{
color: #5e99e8;
background-color: #fff;
padding: .3em .6em;
border: 1px solid #ccc;
}
.close a:focus{
color: #5e99e8;
background-color: #eee;
}

#main-pentago{
margin: auto;
cursor: default;
}

.main-pentago-cell{
line-height: 2em;
}

.main-pentago-cell div{
width: 260px;
height: 260px;
position: relative;
color: inherit;
background: #fff url(images/pentago-subboard-90deg.png) no-repeat;
}
#main-pentago-cell-1 div{
background-position: bottom right;
}
#main-pentago-cell-2 div{
background-position: bottom left;
}
#main-pentago-cell-3 div{
background-position: top right;
}

.main-pentago-cell table,
.main-pentago-cell .rotation-buttons{
width: 180px;
height: 180px;
position: absolute;
line-height: 0;
margin: 0;
padding: 0;
}

.main-pentago-cell table{
z-index: 4;
}

#table-block-1,
#main-pentago-cell-1 .rotation-buttons{
bottom: 5px;
right: 5px;
}
#table-block-2,
#main-pentago-cell-2 .rotation-buttons{
bottom: 5px;
left: 5px;
}
#table-block-3,
#main-pentago-cell-3 .rotation-buttons{
top: 5px;
right: 5px;
}
#table-block-4,
#main-pentago-cell-4 .rotation-buttons{
top: 5px;
left: 5px;
}

.rotation-buttons a{
position: absolute;
width: 50px;
height: 50px;
color: inherit;
background-color: transparent;
background-position: center;
background-repeat: no-repeat;
text-indent: -999em;
z-index: 5;
overflow: auto;
cursor: pointer;
}

.rotate-left{
background-image: url(images/rotate-arrow-left.png);
left: 20px;
bottom: 20px;
}

.rotate-right{
background-image: url(images/rotate-arrow-right.png);
right: 20px;
top: 20px;
}

.main-pentago-cell table td,
.main-pentago-cell table td span{
width: 60px;
height: 60px;
padding: 0;
margin: 0;
color: inherit;
background-color: transparent;
background-position: center;
background-repeat: no-repeat;
}

.main-pentago-cell table td span{
display: block;
}

.main-pentago-cell table td.win{
background-image: url(images/winning-piece.png);
}

.main-pentago-cell table td.player-1-on span{
background-image: url(images/white-piece.png);
}

.main-pentago-cell table td.player-2-on span{
background-image: url(images/black-piece.png);
}

.main-pentago-cell table td.off:hover span{
background-image: url(images/hole-select.png);
cursor: pointer;
}
#main-pentago.noturn .main-pentago-cell  table td.off:hover span{
background-image: none;
cursor: default;
}

#player-labels span{
position: absolute;
bottom: 10px;
}

#player-labels span input{
visibility: hidden;
position: absolute;
}

#player-1-label{
left: 10px;
background: transparent url(images/white-piece.png) left center no-repeat;
padding: 20px 0 20px 50px;
}

#player-2-label{
right: 10px;
background: transparent url(images/black-piece.png) right center no-repeat;
padding: 20px 50px 20px 0;
}

#status{
position: absolute;
color: #fff;
font-weight: bold;
background-color: #5e99e8;
z-index: 888;
width: 500px;
padding: 6px 10px;
text-align: center;
}