/*
 * Stylesheet: pentagoo-air.css - additional styles for AIR
 * Author: Lim Chee Aun
 */

body{
overflow: hidden !important; /*Hide scrollbars*/
-webkit-user-select: ignore; /*Disable cursor selection*/
}

#container{
margin: 0;
border: 0;
}

#version{
position: absolute;
width: 96px;
text-align: right;
color: #A4C6F4;
background-color: transparent;
font-weight: bold;
font-size: 1.1em;
}

/* Hide stuff */
#download-link,
#download{
display: none !important;
}

.panel-error{
display: block;
font-weight: bold;
color: #000;
background-color: #FFFFCB;
border: 1px solid #FFFF73;
text-align: center;
padding: .5em 1em;
margin-bottom: .5em;
}